<body class="container">
  <div class="conteiner__encabezado">

    <div class="opcion__link__item">
      <a  [routerLink]="['/destino', destinoId]"><i class="fa-solid fa-arrow-left"></i> Volver a la pagina anterior</a>
      <span class="tooltiptext">Volver a tus destino</span>
    </div>

    <div class="conteiner__encabezado__imagen">
      <div class="titulo">
        <h1 class="conteiner__encabezado__titulo">Seleccion: </h1>
        
        <div class="conteiner__encabezado__descripcion">
          <div class="titulo-info">
            <h2 class="conteiner__encabezado__nombre">Pais: </h2>
            <h2 class="conteiner__encabezado__nombre">Ciudad: </h2>
            <h2 class="conteiner__encabezado__nombre">Idioma: </h2>
            <h2 class="conteiner__encabezado__nombre">L. imperdible: </h2>
          </div>
          <div class="titulo-info">
            <h2 class="conteiner__encabezado__nombre">{{selectedCountry}}</h2>
            <h2 class="conteiner__encabezado__nombre">{{selectedCity}}</h2>
            <h2 class="conteiner__encabezado__nombre">{{selectedLanguage}}</h2>
            <h2 class="conteiner__encabezado__nombre">{{selectedUnmissablePlace}}</h2>
          </div>
        </div>

      </div>
      
      <img class="ciudad" [src]="selectedImage" alt="Imagen del destino"/>
    </div>
  </div>

  <div class="container__hospedaje">

    <h2>Tus opciones de hospedaje:</h2>

    <div>
      <p> Estas son las opciones de hospedaje que te recomendamos según tus
        preferencias:</p>
    </div>

    <div class="container__hospedaje__opciones">
      <div class="container__hospedaje__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://www.palladiumhotelgroup.com/es/hoteles/mexico/costamujerescancun/trs-coral-hotel?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnUidFzwbGH4_ZKXIZK_Y24hcrmgBWK5yB9mTOcVSgpR1VBvCz4uFFwaAhvDEALw_wcB&gclsrc=aw.ds" target="_blank"><img [src]="Hotel[0].img" alt="" /></a>
        </div>
        
        <div class="container__hospedaje__opcion__info">
          <h3>{{Hotel[0].name}}</h3>
          <p>
            {{Hotel[0].description
            }}
          </p>
        </div>
      </div>
  
      <div class="container__hospedaje__opcion">
        <div class="container__hospedaje__opcion__img">
          <a href="https://www.riu.com/es/ofertas/unete-riu-class-LATAM.jsp?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnWnrDydr_vZS-uMKyFU8-40uzIbr8jLAtl4bm0wfBBc6RA8qa-zuUsaAmwUEALw_wcB&gclsrc=aw.ds" target="_blank"><img [src]="Hotel[1].img" alt="" /></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>{{Hotel[1].name}}</h3>
          <p>
            {{Hotel[1].description
            }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container__vuelos">

    <h2>Tus opciones de vuelos:</h2>
    <div class="vuelo-container">
      <p class="txt-parrafo">
        Estos son las dos opciones de vuelos que te recomedamos según tus
        preferencias:
      </p>
    </div>

    <div class="container__vuelos__opciones">
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://www.avianca.com/es/?poscode=CO&utm_source=gads&utm_medium=pros&utm_campaign=gs:es-co_br\core/geo@mde|col_co_cpc&utm_content=gs:es-co_br\core:av/ex+ph@avianca&gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnVfF3NpddUFXW5Z2OCBSLe0icSmeRxNXumE0QkI5Yk5-hpOxnCObesaAuXMEALw_wcB" target="_blank"><img [src]="Flight[0].img" alt="" /></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>{{Flight[0].name}}</h3>
          <p class="descripcion">
            {{Flight[0].description}}
          </p>
        </div>
        
      </div>
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://aeromexico.com/es-co/?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnVYHI_iukx21hbj-_3pOY_1J1hBakiHKE1tXN_GHM-wBCjZ2FzwP_IaAgkFEALw_wcB&gclsrc=aw.ds" target="_blank"><img [src]="Flight[1].img" alt=""/></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>{{Flight[1].name}}</h3>
          <p class="descripcion">
            {{Flight[1].description}}
          </p>
        </div>

      </div>
    </div>
  </div>
</body>
